/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.geral{
    background: #c2c2c2;
}
body {
    font-family: Arial, sans-serif;
    color: #ff0000;
}

/* Estilo do cabeçalho */
header {
    background: #c2c2c2;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgb(27, 27, 27);
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 20px;
}

nav ul li {
    margin: 0 10px;
}


/* nomes do cabeçario ex:inicio */
nav ul li a {
    text-decoration: none;
    color: #030303;
    font-weight: bold;
    transition: color 0.3s;
}
/* cor do cabeçario quando passar o mouse ex:inicio */
nav ul li a:hover {
    color: #f81c0c;
}


/* Estilo do hero(fundo) */
.hero img{
   
   width:100%;
    
}

 /* cor do agente */
.btn-agende {
    background: rgba(247, 200, 47, 0.699);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 40%;
    cursor: pointer;
    transition: background 0.3s;
    margin-left: 47%;
 
}
.btn-agende a{
 text-decoration: none;
 color: white;
}

.btn-agende:hover {
    background: #e01212;
}


/* inicial do carrosel Estilos básicos para o carrossel */
.carrossel {
    position: relative;
    width: 100%;
    max-width: 600px; /* Tamanho máximo do carrossel */
    margin: auto;
    overflow: hidden;
   
}

.carrossel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrossel img {
    width: 100%;
    height: auto;
}

.carrossel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.destaque{
    border: 2px solid rgb(255, 0, 0);
    border-radius: 40%;
    padding: 8px 18px;
    font-weight: bold;
    color: white;
}
.destaque a:hover{
    background-color: rgb(214, 20, 20);
    color: black;
    border-color: red;
}


