
/* Estilos para telas menores que 768px */
@media (max-width: 768px) {
    body {
      font-size: 16px;
      padding: 10px;
    }
  }
  
  /* Estilos para telas menores que 480px */
  @media (max-width: 769px) and (max-width: 1200px){
    body {
        font-size: 18px;
      padding: 10px; /* Ajuste o padding em telas muito pequenas */
    }
  }

  @media (max-width: 1201px) {
    body {
      padding: 30px; /* Ajuste o padding em telas muito pequenas */
      font-size: 20px;
    }
  }
  
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("img/fundo.png");
    background-size: cover;
    background-repeat: no-repeat;     
    width: 300px;
    height: 300px;
}

    

header a{
    text-decoration: none;
    color: rgb(247, 242, 242);
    
}
header{
    width: 1600px;
    height: 50px;
    background-color: rgb(97, 95, 97);
    
}
header nav ul{
   display: flex;
   list-style: none;
   text-align: center;
   gap: 40px;
   justify-content: center;
    align-items: center;

}



