* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #ff0000;
}

/* Estilo do cabeçalho */
header {
    background: #c2c2c2;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgb(27, 27, 27);
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 20px;
}

nav ul li {
    margin: 0 10px;
}




/* Estilo do cabeçalho */
header {
    background: #c2c2c2;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgb(27, 27, 27);
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 20px;
}

nav ul li {
    margin: 0 10px;
}


/* nomes do cabeçario ex:inicio */
nav ul li a {
    text-decoration: none;
    color: #030303;
    font-weight: bold;
    transition: color 0.3s;
}
/* cor do cabeçario quando passar o mouse ex:inicio */
nav ul li a:hover {
    color: #0cf876;
}

